body {
    background-color: whitesmoke;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

header {
    color: white;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, rgb(255, 128, 171), rgb(255, 64, 129));
    text-align: center;
}

nav {
    position: fixed;
    margin-top: -75px;
    width: 100%;
}

header h1 {
    font-size: 33px;
    margin-bottom: 5px;
    font-family: 'Impact', sans-serif;
}

header p {
    font-size: 14px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(0, 0, 0, 0.75);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff80ab;
}

dl > dh {
    color: #ff80ab;
}

iframe {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin-top: 190px;
}

main section {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ff4081;
    margin-bottom: 15px;
    font-size: 28px;
}

section p {
    color: #333;
}


.planos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.plano {
    flex: 1;
    min-width: 280px;
    background: #fff;
    border: 2px solid #ff80ab;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plano h3 {
    color: #ff4081;
    font-size: 24px;
    margin-bottom: 10px;
}

.plano a,
.button {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background: #ff4081;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.plano a:hover {
    background: #ff80ab;
}

#detalhes-plano, #passeio, #planoveneza, #planogondola, #florenca, #galeria {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#detalhes-plano::before, #passeio::before, #planoveneza::before, #planogondola::before, #florenca::before, #galeria::before {
    content: "";
    display: block;
    width: 360px;
    height: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

#detalhes-plano::before { background-image: url('coliseu-roma.png'); }
#passeio::before { background-image: url('forum-romano.png'); }
#planoveneza::before { background-image: url('imagem-veneza.png'); }
#planogondola::before { background-image: url('gondola-veneza.png'); }
#florenca::before { background-image: url('florenca-piazza-del-duomo.png'); }
#galeria::before { background-image: url('galeria-uffizi.png'); width: 360px; height: 360px; }

#copy {
    text-align: center;
    position: relative;
    margin-top: 333px;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto 30px;
    border: none;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

form input,
form select,
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background: whitesmoke;
    color: #000;
}

form button {
    background: #ff4081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

form button:hover {
    background: #ff80ab;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table thead {
    background: #ff4081;
    color: #fff;
}

table tfoot {
    background: #fce4ec;
}

footer {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px 0;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 45px;
    }

    nav {
        margin-top: -71px;
    }

    nav ul {
        padding: 12px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    section h2 {
        font-size: 24px;
    }

    .planos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .plano {
        flex: 1;
        min-width: 280px;
    }

    main {
        padding: 20px;
        margin-top: 215px;
    }
}

@media (min-width: 1024px) {
    body {
        text-align: center;
    }

    nav {
        margin-top: 144px;
    }

    nav ul {
        padding: 14px 0;
    }

    main {
        display: inline-block;
        text-align: left;
        width: 80%;
        border-radius: 10px;
        max-width: 1000px;
        padding: 20px;
        margin-top: 225px;
        
    }

    footer {
        text-align: center;
    }
}
